all:
  vars:
    consul_domain: ${consul_domain}
    traefik_domain: ${traefik_domain}
    vault_domain: ${vault_domain}
  children:
    consul:
      hosts:
        ${consul_domain}:
          ansible_host: ${consul_ip}
          ansible_user: root
          ansible_ssh_private_key_file: ${ssh_privatekey}
    traefik:
      hosts:
        ${traefik_domain}:
          ansible_host: ${traefik_ip}
          ansible_user: root
          ansible_ssh_private_key_file: ${ssh_privatekey}
    vault:
      hosts:
        ${vault_domain}:
          ansible_host: ${vault_ip}
          ansible_user: root
          ansible_ssh_private_key_file: ${ssh_privatekey}
