all:
  vars:
    consul_domain: ${consul_domain}
    traefik_domain: ${traefik_domain}
    netbox_domain: ${netbox_domain}
  children:
    consul:
      hosts:
        ${consul_domain}:
          ansible_host: ${consul_ip}
          ansible_user: root
          ansible_ssh_private_key_file: ${ssh_privatekey}
    traefik:
      hosts:
        ${traefik_domain}:
          ansible_host: ${traefik_ip}
          ansible_user: root
          ansible_ssh_private_key_file: ${ssh_privatekey}
    netbox:
      hosts:
        ${netbox_domain}:
          ansible_host: ${netbox_ip}
          ansible_user: root
          ansible_ssh_private_key_file: ${ssh_privatekey}
