version: '3'
services:
  netbox:
    image: netboxcommunity/netbox:{{ netbox_version }}
    depends_on:
      - postgres
      - redis
    env_file: env/netbox.env
    volumes:
      - netbox-media-data:/opt/netbox/netbox/media
    ports:
      - "{{ netbox_ports[0] }}"
    restart: always

  postgres:
    image: postgres:15
    env_file: env/postgres.env
    volumes:
      - netbox-postgres-data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    volumes:
      - netbox-redis-data:/data
    restart: always

  netbox-worker:
    image: netboxcommunity/netbox:{{ netbox_version }}
    depends_on:
      - netbox
      - redis
    env_file: env/netbox.env
    command: /opt/netbox/venv/bin/python /opt/netbox/netbox/manage.py rqworker
    restart: always

volumes:
  netbox-media-data:
  netbox-postgres-data:
  netbox-redis-data: 