entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  consulCatalog:
    prefix: traefik
    exposedByDefault: true
    endpoint:
      address: "{{ hostvars['consul.local']['ansible_host'] }}:8500"

api:
  dashboard: true