entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  consulCatalog:
    endpoint:
      address: "{{ hostvars[consul_domain]['ansible_host'] }}:8500"
    exposedByDefault: false
    defaultRule: ""
    constraints: 'Tag(`traefik.enable=true`)'

api:
  dashboard: true
  insecure: true
  
log:
  level: DEBUG

global:
  checkNewVersion: false
  sendAnonymousUsage: false
