entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  consulCatalog:
    exposedByDefault: true
    endpoint:
      address: "{{ hostvars[consul_domain]['ansible_host'] }}:8500"

api:
  dashboard: true
  insecure: true